
/********************************************
 ************A********S********M*************
 ********************************************/      


body { 
    font-family:            'Shanti', sans-serif;
    font-size:              10pt;
    font-weight:            lighter;
    margin:                 0 0 auto;
    overflow:               hidden;
}
a {
    color:                  #000000;
    text-decoration:        none;
}
a:hover {
    border-bottom:          1px solid #c0c0c0;
}
p {
    margin:                 2px;
}
img {
    border:                 0px;
}
h1 {
    font-size:              14pt;
    border-bottom:          2px solid;
    padding:                4px;
}
h2 {
    font-size:              11pt;
    font-weight:            inherit;
    padding:                8px;
    margin:                 8px;
}
address {
    font-style:             normal;
}
nav {
    width:                  800px;
    height:                 100px;
    margin:                 0 auto;
}
nav ul {
    margin:                 0 auto;
    list-style:             none;
    text-align:             center;
}
nav li {
    width:                  60px;
    float:                  left;
    margin:                 0 10px 0 0;
    color:                  #000000;
    padding:                10px 30px;
    //text-shadow:            1px 1px 1px #c0c0c0;
    border:                 1px solid #000000;
    border-top:             0px;
    //box-shadow:             1px 2px #c0c0c0;
    //border-radius:          0 0 10px 10px;
}
nav li:hover {
    border:                 1px solid #c0c0c0;
    //box-shadow:             0px 0px 20px 6px #000000;
    text-shadow:            0px 6px 20px #000000;
}  
nav li a {
    color:                  #000000;
    text-decoration:        none;
    border:                 0;
    font-weight:            bold;
}
nav li a:hover {
    color:                  #000000;
    border-bottom:          1px solid #c0c0c0;
    //text-shadow:            0px 6px 12px #000000;
}
footer {
    width:                  100%;
    position:               absolute;
    bottom:                 0;
    font-size:              7pt;
    padding:                10px;
    text-align:             center;
}
ul {
    list-style-type:        circle;
}
nav li {
    width:                  100px;
}
#logo {
    width:                  750px;
    margin:                 0 auto;
    padding:                0px;
    text-align:             center;
}
#logo a {
    border:                 0px;
}
#tagline {
    padding:                25px;
    font-size:              12pt;
    letter-spacing:         2px;
    word-spacing:           4px;
    font-style:             oblique;
}
#wrap {
    width:                  750px;
    margin:                 0 auto;
    text-align:             center;
    padding:                15px;
    margin-top:             0px;
    //border-radius:          25px;
    //box-shadow:             0px 15px 50px #000000;
}
#keywords {
    font-style:             oblique;
    font-size:              8pt;
    padding:                25px;
}
#left {
    text-align:             left;
    padding:                0 0 25px 25px;
} 
#left h2 {
    padding:                0px;
}
