body {
    font-family:            'Shanti', sans-serif;
    font-size:              10pt;
    font-weight:            lighter;
    //text-transform:         lowercase; // yep!
    margin:                 0 0 auto;
}
a {
    color:                  black;
    text-decoration:        none;
}
a:hover {
    border-bottom:          1px solid grey;
}
p {
    margin:                 2px;
    padding:                4px;
}
img {
    border:                 0px;
}
h1 {
    font-size:              12pt;
    border-bottom:          2px solid;
    margin:                 0;
    margin-bottom:          25px;
    padding:                10px;
}
h2 {
    font-size:              12pt;
    font-weight:            inherit;
    letter-spacing:         2pt;
    word-spacing:           2pt;
    padding:                10px;
    margin:                 10px;
    text-shadow:            0px 1px 5px grey;
}
h3 {
    width:                  400px;
    font-size:              12pt;
    font-weight:            inherit;
    padding:                4px;
    margin:                 0 auto;
    margin-bottom:          5pautox;
    border-bottom:          1px dotted grey;
}
address {
    font-style:             normal;
}
nav {
    width:                  800px;
    margin:                 0 auto;
    padding-bottom:         10px;
    margin-bottom:          10px;
}
nav ul {
    margin:                 0 auto;
    list-style:             none;
    text-align:             center;
}
nav li {
    width:                  60px;
    float:                  left;
    margin:                 0 10px 0 0;
    color:                  black;
    padding:                10px 30px;
    border:                 1px solid black;
    border-top:             0px;
}
nav li:hover {
    box-shadow:             0px 0px 5px 1px black;
    border:                 2px outlet grey;
    border-bottom:          1px solid grey;
    text-decoration-line:   underline;
    text-decoration-style:  dotted;
    text-decoration-color:  grey;
}
nav li a {
    color:                  black;
    text-decoration:        none;
    border:                 0;
    font-weight:            bold;
}
nav li a:hover {
    color:                  black;
    border-bottom:          none;
    text-decoration-line:   underline;
    text-decoration-style:  dotted;
    text-decoration-color:  grey;
}
footer {
    margin:                 0 auto;
    width:                  100%;
    position:               relative;
    bottom:                 0;
    font-size:              7pt;
    padding:                10px;
    text-align:             center;
}
ul {
    list-style-type:        circle;
}
nav li {
    width:                  100px;
}
#logo {
    width:                  750px;
    margin:                 0 auto;
    margin-bottom:          10px;
    text-align:             center;
}
#logo a {
    border:                 0px;
}
/*#logo img {
    position:               relative;
    -webkit-animation:              lam 4s;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-direction: alternate;
    animation:              lam 4s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}
@-webkit-keyframes lam {
    from {right: 400px;}
    to {left: 0px;}
}
@keyframes lam {
    from {right: 400px;}
    to {left: 0px;}
}*/
#tagline {
    width:                  calc(50% - 100px);
    text-align:             center;
    margin:                 25px auto;
    padding:                25px;
    font-size:              10pt;
    letter-spacing:         2px;
    word-spacing:           4px;
}
#wrap {
    width:                  calc(65% - 250px);
    margin:                 0 auto;
    text-align:             center;
    font-size-adjust:       0.8;
    padding:                15px;
    margin-top:             0px;
    border-radius:          5px;
    box-shadow:             0px 0px 5px grey;
}
#keywords {
    font-style:             oblique;
    font-size:              6pt;
    word-spacing:           2pt;
    margin-top:             25px;
}
#left {
    margin:                 0 auto;
    width:                  60%;
    text-align:             left;
    padding:                0 0 25px 25px;
}
#left h2 {
    padding:                0px;
    text-indent:            10px;
    font-variant:           small-caps;
}
dt {
    text-decoration:        underline;
    padding:                5px;
}
em {
    font-variant:           small-caps;
    font-style:             italic;
}
